App component welcomes :)
<br>
<input #helloInput>
<button (click)="sendToHelloDBHelloCol()">Send to HelloDB.HelloCOL</button>
<br>
Do backendu tez umiem zadzwonic bo z niego jest: {{backendHelloWorld}}
<br>
<input #matchInput>
<button (click)="getMatch()">Get match</button>
<br><br>
Region: <input #regionInput value="EUN1"> <br>
<input #summonerNameInput>
<button (click)="getSummonerByName()">Get summoner by Name</button>
<br>

<input [(ngModel)]="summonerNameMatches">
<button (click)="getSummonerMatches()">Get summoner Matches</button>
<br>


<input #playerAccountIdInput>
<button (click)="getSummonerByAccountId()">Get summoner by Account id</button>
<br>

<input #championName>
<button (click)="getChampionIcon()">Get champion Icon</button>
<br>
<br>
<input #displayMatchChampionsInput [(ngModel)]="matchId">
<button (click)="displayMatchChampions()">Display match champions</button>

<br>
<app-champions-displayer [matchId]="matchId" [$forceUpdate]="$championIconsForceUpdate"></app-champions-displayer>

<img [src]="championIcon">

