App component welcomes :)
<br>
<input #helloInput>
<button (click)="sendToHelloDBHelloCol()">Send to HelloDB.HelloCOL</button>
<br>
Do backendu tez umiem zadzwonic bo z niego jest: {{backendHelloWorld}}
<br>
<input #matchInput>
<button (click)="getMatch()">Get match</button>
<br><br>
Region: <input #regionInput value="EUN1"> <br>
<input #summonerNameInput>
<button (click)="getSummonerByName()">Get summoner by Name</button>
<br>
<input #playerAccountIdInput>
<button (click)="getSummonerByAccountId()">Get summoner by Account id</button>

<br>
